<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>

    <script type="text/javascript" src="/main.js/copy.js"></script>
    <title>Recipes | <%= recipe.name%></title>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav>

    <div class="container">
      <div class="show-image">
        <img src="<%= recipe.img%>" alt="food image">
      </div>
      <div class="ingredients" >
        <h2>Ingredients</h2>
        <ul id="ingredients-list">
          <% for (let i = 0; i < recipe.ingredients.length; i++) {%>
            <li class="list-item"><%=recipe.ingredients[i]%></li>
            <hr/>
          <%}%>
        </ul>
        <button type="button" onclick="copy();"id="copy-button">Copy Ingredients</button>
      </div>

    </div>
    <p>SERVES: <%= recipe.servings%></p>
      <div class="instructions">
        <h2>Instructions</h2>
        <ol>
          <% for (let i = 0; i < recipe.instructions.length; i++) {%>
            <li><%=recipe.instructions[i]%></li>
            <hr>


          <%}%>
        </ol>

      </div>

  </body>
</html>
