<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Recipes | <%= recipe.name%></title>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav>
    <a href="/recipes">BACK TO ALL RECIPES</a>
    <div class="container">
      <div class="image">
        <img src="<%= recipe.img%>" alt="food image">
      </div>
      <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <% for (let i = 0; i < recipe.ingredients.length; i++) {%>
            <li><%=recipe.ingredients[i]%></li>
          <%}%>
        </ul>
      </div>
    </div>
    <p>SERVES: <%= recipe.servings%></p>
      <div class="instructions">
        <h2>Instructions</h2>
        <ol>
          <% for (let i = 0; i < recipe.instructions.length; i++) {%>
            <li><%=recipe.instructions[i]%></li>


          <%}%>
        </ol>

      </div>


  </body>
</html>
